
@model List<Plant>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We are an indigenous plant nursery striving to help you plant plants that are endemic to your region! Planting endemic plants not only result in less watering but will preserve the natural ecosystem of the region.</p>
    <div id = 'links'>
        <div class="column">
                <a class = 'imgLink' id = 'maplink' href="/Home/Maps">
                    <div class = 'textOverImage'>Find your indigenous vegetation type</div>
                </a>
        </div>  
        <div class="column">
                <a class = 'imgLink' id = 'cataloguelink'href="/Home/PlantCatalogue">
                    <div class = 'textOverImage'>Browse the plants in the nursery</div>
                </a>
        </div>
    </div>
     
</div>



