@{
    ViewData["Title"] = "Maps";
}

  <head>
    <h5>Find your home to find the bioregion to which you belong.</h5>
    <style>
      #map {
        width: 1500px;
        height: 900px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type = "module" src="/js/newTempOpenLayers.e31bb0bc.js" ></script>
  </body>


