@model MapViewModel
@{
    ViewData["Title"] = "Maps";
    string BiomeName = "Unknown";
}
  <head>
    <h5>Find your home and activate the vegetation map layer, then click on the map to see details:</h5>
  </head>
  <body>
    
    <div class="grid-container">
        <div class='grid-1'>
          <div class='sidebar'>
            <h5>Map layers</h5>
            <input type = 'checkbox' name ='osmcheckbox' value = 'Open street map' checked>Open street map<br>
            <input type = 'checkbox' name = 'vegcheckbox' value = 'Vegetation map'>Vegetation map<br>
          </div>
        </div>
        <div class='grid-2'>
            <div id="map" class="map">
              <div id="throbber">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"
                    alt="Spinning wheel">
              </div>
            </div>
        </div>
    </div>

    
    <div id="throbber">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/d/de/Ajax-loader.gif"
        alt="Spinning wheel">
    </div>
    
    <div id="info">&nbsp;</div>
    <script type = "module" src="/js/webpackBundle.js" ></script>
    <div id="BiomeModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id = "homebiome">Biome Not Found</h2>
          
          <span class="close" id = "closeModal">&times;</span>
        </div>
        <div class="modal-body">
          <p id = 'biomeInfo'>"Description goes here"</p>
        </div>
        <div class="modal-footer">
              <a id = "mybuton" asp-action="BioPolygonToPlants" 
                            asp-controller="Home"
                            asp-route-name = "dummy"
                            class="btn btn-primary" >Which plants should I plant?</a>
        </div>
      </div>
    </div>
  </body>



