@{
    ViewData["Title"] = "Maps";
}
  <head>
    <h5>Find your home to find the bioregion to which you belong.</h5>
    <style>
      #map {
        width: 1500px;
        height: 800px;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script type = "module" src="/js/webpackBundle.js" ></script>
  </body>

