@{
    ViewData["Title"] = "Maps";
}
  <head>
    <h5>Find your home to find the bioregion to which you belong.</h5>
  </head>
  <body>
    <div id="map" class="map"></div>
    <div id="info">&nbsp;</div>
    <script type = "module" src="/js/webpackBundle.js" ></script>
  </body>

